#str1{
padding-bottom: 9px;padding-left:17px;padding-right:16px;padding-top:5px;
margin:12px;display: inline-block;
transform: translate(21.5em, -5.0em)
}
#str2{
padding-bottom: 9px;padding-left:17px;padding-right:16px;padding-top:5px;
margin:12px;display: inline-block;
transform: translate(43.5em, -9.3em)
}
#str3{
padding-bottom: 9px;padding-left:17px;padding-right:16px;padding-top:5px;
margin:12px;display: inline-block;
transform: translate(88.5em, -13.6em)
}
#str4{
padding-bottom: 9px;padding-left:17px;padding-right:16px;padding-top:5px;
margin:12px;display: inline-block;
transform: translate(113.5em, -17.9em)
}
#pul{
padding-bottom: 10px;padding-left:17px;padding-right:16px;padding-top:5px;
margin:12px;display: inline-block;
transform: translate(64.5em, -7em)
}
#str6{
margin-left: 550px;
transform: translate(55em, 0em)
}
#logoss{
height:105px;
transform: translate(23em, -53.8em)
}
#nalse{
height:530px;
transform: translate(-2em, -13.3em)
}
#line{
transform: translate(0em, -49em)
}
#strz{
padding-bottom: 9px;padding-left:17px;padding-right:16px;padding-top:5px;margin:12px;color: #e3e3e3;
display: inline-block;
transform: translate(66.5em, -229.74em)
}

